

body {
    padding-top: 0px;
}

@media (min-width: 992px) {
    body {
        padding-top: 0px;
    }
}

header.masthead {
    background: url('../images/back2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	height:520px;
	visibility: hidden
}

header.masthead > .overlay {
    padding: 10rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.0);
}

@media (min-width: 992px) {
    header.masthead > .overlay {
        padding: 10rem 0;
    }
}

.text-heading {
    /*font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family:Comic Sans MS,arial,helvetica,sans-serif;
}

h1 {
    font-size: 4rem;
}

.tagline-upper {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.tagline-lower {
    font-size: 1.2rem;
    line-height: 1;
}

.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;
}

.flipx {
    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}

.flipy {
    -moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
    /*IE*/
    filter:FlipV;
}

.font-comic{
	font-family:Comic Sans MS,arial,helvetica,sans-serif;
}

.text-expanded {
    letter-spacing: 2px;
}

.text-land-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.text-land-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.text-land-head{
	padding-top:5%;
	margin-left:5%;
	font-size:5rem;
	color:yellow/*#ffbb33*/;
}

.text-land-subhead{
	margin-left:8%;
	margin-top:0.1%;
	font-size:20px;
	color:red/*#ffbb33*/;
	font-family:Comic Sans MS,arial,helvetica,sans-serif;
}

.text-land-buttion{
	color:yellow/*#ffbb33*/;
}

.btn-outline-ss{
	color:yellow/*#ffbb33*/;
	background-color: #fff rgba(0, 0, 0, 0.9);
	border-color: yellow/*#ffbb33*/;
}

.btn-outline-ss:hover, .btn-outline-ss:focus, .btn-outline-ss:active:hover{
	color: #444;
	background-color: yellow/*#ffbb33*/;
	border-color: #444;
}

a{
	text-decoration: none !important;
}

.land-nav{
	color:white;
}

.title-margin{
	padding-top:2%;
	/*padding-bottom:3%;*/
	/*margin-left:5%;*/
	text-align: center;
	/*font-family:Comic Sans MS,arial,helvetica,sans-serif;*/
	/*font-family:fantasy;*/
	font-size:40px;
	font-family:Comic Sans MS,arial,helvetica,sans-serif;
}

.subtitle-margin{
	text-align: center;
	font-family:Comic Sans MS,arial,helvetica,sans-serif;
	font-size:22px;
	color:gray;
}

.intro-divider {
	position: relative;	
	height: 3px;
	width:30%;
	background-image: linear-gradient(to right, rgba(255, 255, 0, 1), rgba(255, 250, 0, .8), rgba(255, 155, 0, 0));
}

.about-sec1{
	background: url('../images/about.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.about-sec2{
	background: url('../images/about2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.team-back{
	background: url('../images/teamback.png') no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	/*background-attachment: fixed;*/
}

.team-back > .overlay {
    background: rgba(0, 0, 0, 0.0);
}

.team-content{
	 opacity: 1.0;
	 margin-top:-33px
}

.team-divider {
  width: 60%;
  border-top: 1px solid #ffff66;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.team_line{
    color: #ff0000;
}

.team_line > span{
   font-size:22px;
}

.team_line span{
    color: #222;
    margin:0 20px;
}

.team_intro{
	font-size:20px;
}

.team-image{
	/*width:170px;
	height:170px;*/
	box-shadow:3px 3px 12px gray;
}

.contact-back{
	background: url('../images/contactback.png') no-repeat center center rgba(0,0,0,0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	/*background-attachment: fixed;*/
	margin-top:0px;
}

.scrollsidenav{
	/*width:100px; 
	height:130px;
	padding:10px; */
	text-align:center; 
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	right:10px;
	display:none;
	background:none;
	color:black;
	z-index:1;
}
.scrollsidenav:hover{
	text-decoration:none;
	color:black;
}

.plyr__video-wrapper{
    position: relative;
    border-radius: inherit;
}

.plyr__captions {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}

video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

video {
    object-fit: contain;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.probootstrap-footer {
  padding: 1em 0;
  padding-bottom: 0px;
  background: #000000;
  color: rgba(255, 255, 255, 0.9);
}

.probootstrap-footer .probootstrap-back-to-top {
  text-align: right;
}

#loading{
	z-index: 1;
    padding: 100px;
    background: rgb(255, 0, 136);
    left: 0;
    top: 0;
    color: #fff;
    position: fixed;
    width: 150px;
    height: 130px;
    text-align: center;
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
}